.toasts-list {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 9;
}

.toast-item {
    margin-bottom: 1rem;
    animation: toast-animation-in 1s;
}

.toast-body {
    background: var(--success);
    color: var(--font-color-contrast);
    padding: 15px;
    width: 250px;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}

.toast-body * {
    color: inherit;
}

@keyframes toast-animation-in {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
